body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  flex-direction: column;
}

#title {
  font-size: 2rem;
  font-weight: 500;
}

.subtitle {
  font-size: 1rem;
}

h2 {
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GitCommand button */

/* container that holds button, tooltip, animated text, etc. */
#gitcommand-div {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
}

#gitcommand-button {
  text-transform: lowercase;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: .5rem;
  font-size: 1rem;
}


/* TEMPORARY FOOTER  */
#footer-temporary {
  margin-top: 10rem;
}

#footer-temporary a {
  color: #010CF5;
}